<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <!-- grade list components -->
  <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <!-- for add text boxes --> 
          <mat-form-field>
            <!-- "*" add for best practices for required field -->
            <input formControlName="fullName" matInput placeholder="Full Name*">
            <!-- formControlerName should be equale to "teacher.service.ts" form group variable name -->
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="mobile" matInput placeholder="Mobile*">
            <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 10 charactors needed.</mat-error>
          </mat-form-field>
          <!-- <mat-form-field>
            <input formControlName="mobile" matInput placeholder="Mobile">
          </mat-form-field> -->
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="add-bottom">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <mat-select formControlName="subject" placeholder="Subject">
              <mat-option>None</mat-option>
              <ng-container *ngFor="let subject of subjects">
                <mat-option value="{{subject.id}}">{{subject.value}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <!-- date input -->
            <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
            <!-- calander icon -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <!-- responsible for calander -->
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="add-botton-padding">
            <mat-checkbox formControlName="isPermanent">Permenent Teacher</mat-checkbox>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>    
</form>
